html,body{width:100%;height:100%;margin:0;background-color:#000;color:#fff;overscroll-behavior:contain}#app{width:100%;height:100%;display:flex;justify-content:center}canvas{display:block;width:100%;height:100%}#err-msg{margin:20px}
